.wrap {
  height: 1550px;
}

/****************************************************************************** */
.notice_site {
  width: 1300px;
  height: 250px;
  border-radius: 60px 0 0 0;
}

.notice_site img {
  width: 100%;
  height: 100%;
}

.notice_site .notice_heading {
  width: 100%;
  height: 100%;
  position: relative;
}

.notice_site h2 {
  position: absolute;
  top: 9rem;
  left: 94px;
  color: white;
  font-size: 52px;
  font-weight: 800;
  z-index: 1;
}

.notice_site .notice_heading h2:after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--point_color);
  border-radius: 5px;
  z-index: -1;
}

.notice_inner {
  height: 50px;
}

.notice_inner ul {
  display: flex;
  height: 50px;
  background: #81dc7f;
  justify-content: center;
}

.notice_inner ul > li {
  width: 177px;
  text-align: center;
  line-height: 3;
  transition: 0.3s;
}

.notice_inner ul > li a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.notice_inner .search {
  background-color: white;
}

.notice_inner .search a {
  color: #81dc7f;
}

.notice_inner ul > li:nth-child(1):hover,
.notice_inner ul > li:nth-child(2):hover,
.notice_inner ul > li:nth-child(4):hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.notice_inner ul > li a:hover {
}

.notice_text {
  display: flex;
  border-bottom: 1px solid rgba(221, 221, 221, 0.866667);
  height: 61px;
}

.notice_text p {
  padding: 0 0.5rem;
  height: 30px;
  color: #b3b3b3;
  margin-top: 20px;
}

/*** *** 여기부터 공지사항의 메인 영역입니다. *** ***/
.notice_wrap {
  margin: 10rem auto;
  /* padding: 8.2rem 2.6rem; */
  width: 1160px;
  height: 800px;
}

.notice_wrap h3 {
  font-size: 34px;
  font-weight: 600;
}

.notice_menu_wrap {
  height: 72px;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid #74dc63;
  align-items: center;
}

.notice_menu_wrap .notice_search_menu_l {
  display: flex;
  width: 460px;
  justify-content: space-between;
}

.notice_search_menu_l .search_num select,
.notice_search_menu_l .search_kin select {
  width: 80px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #5cbb4d;
  padding: 4px 2px;
  cursor: pointer;
}

.search_bar {
  width: 250px;
  height: inherit;
  position: relative;
}

.search_bar input {
  width: 250px;
  height: 100%;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #81dc7f;
  padding: 4px 0 4px 8px;
}

.search_bar .search_icon a img {
  position: absolute;
  top: 5px;
  right: 4%;
}

.notice_menu_wrap .notice_search_menu_r {
  display: flex;
  font-size: 16px;
}

.notice_menu_wrap .notice_search_menu_r p {
  margin: 0 5px;
  color: #bfbfbf;
}

.notice_content_header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  height: 40px;
}

.notice_content_header span {
  display: block;
  text-align: center;
  line-height: 40px;
}

.notice_content_header span:nth-child(1) {
  width: 120px;
  border-bottom: 2px solid #bfbfbf;
}

.notice_content_header span:nth-child(2) {
  width: 620px;
  border-bottom: 2px solid #424242;
}

.notice_content_header span:nth-child(3) {
  width: 100px;
  border-bottom: 2px solid #bfbfbf;
}

.notice_content_header span:nth-child(4) {
  width: 120px;
  border-bottom: 2px solid #424242;
}

.notice_content_header span:nth-child(5) {
  width: 200px;
  border-bottom: 2px solid #bfbfbf;
}

.notice_contents > li {
  border-bottom: 1px solid #bfbfbf;
  height: 35px;
  line-height: 35px;
}

.notice_contents > li:nth-last-child(1) {
  border-bottom: 2px solid #5cbb4d;
}

.notice_contents li a ul {
  display: flex;
  font-size: 16px;
  text-align: center;
}

.notice_contents li a ul li:nth-child(1) {
  width: 120px;
}

.notice_contents li a ul li:nth-child(2) {
  width: 620px;
  text-align: start;
}

.notice_contents li a ul li:nth-child(3) {
  width: 100px;
}

.notice_contents li a ul li:nth-child(4) {
  width: 120px;
}

.notice_contents li a ul li:nth-child(5) {
  width: 200px;
}

/* 게시판 페이지의 하단 넘버링 영역입니다.__1 2 3 ... */
.notice_page_num {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.notice_page_num ul {
  display: flex;
  font-size: 16px;
}

.notice_page_num ul li {
  padding: 1rem;
  position: relative;
}

.notice_page_num ul li a {
  display: block;
}

.notice_page_num ul li:nth-child(1) a {
  color: #fff;
}

.notice_page_num ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  text-align: center;
  left: 5px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: #74dc63;
  border-radius: 50px;
  z-index: -1;
}

.notice_page_num ul li a img {
  transform: scale(1.7);
  padding-bottom: 2px;
}

/* 호버시 게시판의 효과 영역입니다.__배경색, 글자무게...*/
.notice_contents > li:hover {
  background-color: #f3f3f3;
}

.notice_contents > li:hover a {
  font-weight: 700;
}

.notice_page_num > ul > li:hover a {
  text-decoration: underline;
}

/****************************************************************************** */
